.apprendre-container{
    padding: 50px;
}

.h3-Sections{
    color: #008C45;
    text-transform: uppercase;
}

.h2-titre{
    text-align: center;
    text-decoration: underline #000;
    margin-bottom: 30px;
    text-transform: uppercase;
}