.divers-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  
  .login-form {
    /* background-color: #7cf760; */
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    transition: transform 0.3s ease; /* Animation de transition pour l'effet de zoom */
    max-width: 400px;
    width: 100%;
    margin: 30px; /* Espacement entre le formulaire et l'image */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #000;
  }
  
  input[type='text'],
  input[type='password'] {
    width: 95%;
    padding: 10px;
    border: none;
    border-bottom: #000 1px solid;
  }
  
  .button {
    background-color: #008c45;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #005d27;
  }
  
  .login-image {
    max-width: 300px;
    height: auto;
  }

.h2-titre{
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    text-align: left;
}

.img{
    border-radius: 10px;
}