.tab-img-container {
    display: flex;
    margin-top: 30px;
    padding: 50px;
    align-items: center;
}

.tab-img-container img {
    /* border: 3px solid #CD212A; Bordure rouge autour de l'image */
    border-radius: 10px; /* Coins arrondis de l'image */
    width: 40%; /* Largeur de l'image */
    object-fit: contain; /* Ajustement de l'image pour remplir le conteneur */
    margin-right: 20px; /* Réduire la marge à droite de l'image */
    margin-bottom: 20px; /* Réduire la marge en bas de l'image */
}

.tab-content {
    width: 60%; /* Largeur du contenu */
}

.tab-content h2 {
    color: #000; /* Couleur du titre */
    text-decoration: none;
}

.tab-content p {
    color: #333; /* Couleur du texte */
    line-height: 1.5; /* Espacement des lignes du texte */
}

.span{
    color: #008C45;
    font-weight: bold;
}